[data-bs-theme='dark'] {
  .pagefind-ui {
    --pagefind-ui-primary: #6ea8fe;
    --pagefind-ui-text: #dee2e6;
    --pagefind-ui-background: #343a40;
    --pagefind-ui-border: #495057;
    --pagefind-ui-tag: #495057;
  }
}
