@use 'sass:meta';

// Place your Bootstrap/Flatly variable overrides here, before the imports below.
// Example: $primary: #your-color;
$primary: #930000;
$hover-primary: #b30000;
$navbar-dark-hover-color: #dddddd;
$navbar-dark-brand-hover-color: #dddddd;

@import 'bootswatch/dist/flatly/variables';
@import 'bootstrap/scss/bootstrap';
@import 'bootswatch/dist/flatly/bootswatch';

.navbar-brand-icon {
  width: 28px;
  height: 28px;
  filter: brightness(0) invert(1);
}

@import 'mdx';

[data-bs-theme='light'] {
  @include meta.load-css('highlight.js/styles/github');
}
[data-bs-theme='dark'] {
  @include meta.load-css('highlight.js/styles/github-dark');
}
