<a href="https://github.com/aensley" title="GitHub" target="_blank"><i class="fab fa-github"></i></a>
<a href="https://stackoverflow.com/users/20801" title="Stack Overflow" target="_blank"
  ><i class="fab fa-stack-overflow"></i
></a>
@@if (color === 'black') {
<a href="https://app.pluralsight.com/profile/andrew-ensley" title="Pluralsight" target="_blank"
  ><img class="ps-icon align-bottom" id="pluralsightIcon" src="assets/img/pluralsight-45505b.svg" />
</a>
} @@if (color === 'white') {
<a href="https://app.pluralsight.com/profile/andrew-ensley" class="pad60" title="Pluralsight" target="_blank"
  ><img class="ps-icon" src="assets/img/pluralsight-ffffff.svg"
/></a>
}
<a href="https://www.linkedin.com/in/andrewensley" title="LinkedIn" target="_blank"><i class="fab fa-linkedin"></i></a>
@@if (color === 'black') {
<a href="https://connect.garmin.com/modern/profile/awensley" title="Garmin Connect" target="_blank"
  ><img class="align-bottom" id="garminConnectIcon" src="assets/img/garmin-circle-45505b.png"
/></a>
} @@if (color === 'white') {
<a href="https://connect.garmin.com/modern/profile/awensley" class="pad60" title="Garmin Connect" target="_blank"
  ><img src="assets/img/garmin-circle-ffffff.png"
/></a>
}
